<!DOCTYPE html>
<html>
    <head>
        <title>This is the title</title>
    </head>
    <body>
        <div class="container hero-unit">
            <h1>Entries!</h1>
            <label for="noteid">Note Id</label>
            <select id="txt-noteid" name="noteid"></select><br>
            <label for="subject">Subject</label>
            <input id="txt-subject" type="textfield" value="Subject"><br>
            <label for="content">Content</label>
            <textarea id="txt-content">Content</textarea><br>

            <button id="btn-create">Create</button>
            <button id="btn-update">Update</button>
            <button id="btn-delete">Delete</button>
            <br><br>
            <hr>
            <div id="content"></div>
        </div>
    </body>
</html>
